<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Chat</title>
</head>
<body>
    <h2>Create new Chat</h2>
    <form method="POST" action="/chats">
        <input placeholder="who are you" name="from">
        <br> <br>
        <textarea name="msg">Write your message here</textarea>
        <br> <br>
        <input placeholder="recived by" name="to">
        <br> <br>
        <button>Create Chat</button>
    </form>
</body>
</html>